site_name: "Torch Named Linops"
site_dir: _site
repo_url: https://github.com/nishi951/torch-named-linops
repo_name: torch-named-linops
site_description: A flexible linear operator abstraction in pytorch.
copyright: Copyright &copy; 2025 Mark Nishimura

theme:
  name: material
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
  logo: assets/logo_dark.svg
  favicon: assets/favicon.svg

extra_css:
  - assets/css/logo.css
  - assets/css/dark_mode_shell_output.css
  - assets/css/extras.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://pytorch.org/docs/stable/objects.inv
          options:
            docstring_section_style: list
            docstring_style: numpy
            show_source: true
            show_root_heading: false
            members_order: source
            filters:
              - "__init__"
  - gallery:
      examples_dirs: tutorials
      gallery_dirs: docs/tutorials
      filename_pattern: .py
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file:  SUMMARY.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - attr_list
  - md_in_html

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Getting Started:
      - getting_started/index.md
      - getting_started/installation.md
  - Tutorials: tutorials/index.md
  - How-To Guides:
      - Custom Linops: howto/custom_linops.md
  - Explanations:
      - explanations/design_notes.md
      - explanations/copying_linops.md
      - explanations/multi_gpu.md
      - explanations/faq.md
      - explanations/why_this_package.md
  - API Reference:
      - reference/index.md
      - torchlinops: reference/

      # - Linear Operators: reference/linops.md
      # - Algorithms: reference/algorithms.md
      # - Utils: reference/utils.md
